.main{
    background-color:chocolate;
    padding: 40px;
}
.sub{
    background-color: rgb(196, 248, 9);
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px 10px 50px 10px;
}
.content-galery-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 130px;
    /* border-top: 5px solid red; */
    box-shadow: 10px 10px 10px black;
}
.content-gallery-name{
      height: 288px;
      text-align: center;
}
.content-gallery-name h2{
   font-weight: 700;
   margin-top: 80px;
   font-size: 50px;
   text-shadow: 5px 5px 10px black;
}

/* Calcular Css */


.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px auto);
}
input [type="text"]{
    height: 75px;
    width: 249px;
}
.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid #101116;
    background-color: #101116;
    border-radius: 5px;
}